<!doctype html>
<html>
<head>
    <title>Home</title>
</head>
<body>
<h1 align="center">Welcome to STT-NF</h1>
</hr>
<tr class="row-1 odd">
    <th class="column-1"> No.</th><th class="columb-2"> </th>
</tr>
<center>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'aboutus' %}">About Us</a>
    <a href="{% url 'gallery' %}">Gallery</a>
</center>
<hr/>
<p>
Sekolah Tinggi Teknologi Terpadu Nurul Fikri (populer disebut STT-NF) merupakan perguruan tinggi yang memadukan keilmuan praktis di bidang teknologi informasi dengan pengembangan kepribadian islami, kompeten dan berkarakter. Pada tahun 2012, STT-NF resmi berdiri berdasarkan SK Menteri Pendidikan dan Kebudayaan Nomor 269/E/O/2012.
</p>
<p>
Salah satu tujuan berdirinya STT-NF adalah “Mencetak Sarjana komputer berakhlak mulia, profesional, dan bersertifikasi IT”. Tujuan itu untuk memenuhi kebutuhan sarjana teknologi informasi ditengah masyarakat, dengan konsisten mengusung nilai-nilai profesionalisme dan keislaman. Setelah berjalan 2 tahun, Tahun 2014, program studi yang dikelola oleh STT-NF yaitu Sistem Informasi (SI) dan Teknik Informatika (TI) berhasil mendapatkan Akreditasi BAN-PT, berdasarkan SK Nomor 483/SK/BAN-PT/Akred/S/XII/2014 dan 468/SK/BAN-PT/Akred/S/XII/2014. Dan Tahun 2019 program studi Sistem Informasi (SI) berhasil mendapatkan Re-Akreditasi dari BAN-PT, berdasarkan SK Nomor 919/SK/BAN-PT/Akred/S/IV/2019. Lalu, pada Tahun 2020 program studi Teknik Informatika (TI) berhasil mendapatkan Re-Akreditasi dari BAN-PT, berdasarkan SK Nomor 4151/SK/BAN-PT/Akred/S/VII/2020.  
</p>
</body>
</html>