<!doctype html>
<html>
<head>
    <title>About Us</title>
</head>
<body>
<h1 align="center">Welcome to STT-NF</h1>
</hr>
<center>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'aboutus' %}">About Us</a>
    <a href="{% url 'gallery' %}">Gallery</a>

</center>
</hr>
<h3 align="center">Sejarah STT-NF</h3>
<table border="1" align="center" cellpadding="10" cellspacing="0">
<thead>
<tr class="row-1 odd" role="row"><th class="column-1 sorting_disabled" rowspan="1" colspan="1" style="width: 28px;">&nbsp;No.</th><th class="column-2 sorting_disabled" rowspan="1" colspan="1" style="width: 46px;">&nbsp;Tahun</th><th class="column-3 sorting_disabled" rowspan="1" colspan="1" style="width: 388px;">&nbsp;Peristiwa</th></tr>
</thead>
<tbody>
<tr class="row-2 even">
    <td class="column-1">1</td><td class="column-2">1985</td><td class="column-3">Berdiri Yayasan Nurul Fikri dengan unit bisnis pertama adalah Bimbingan dan Konsultasi Belajar(BKB)</td>
</tr>
<tr class="row-3 odd">
    <td class="column-1">2</td><td class="column-2">1994</td><td class="column-3">Berdiri Unit Nurul Fikri Computer &amp; Statistics (NCS)</td>
</tr>
<tr class="row-4 even">
    <td class="column-1">3</td><td class="column-2">1998</td><td class="column-3">Awal Menyelenggarakan Pelatihan Komputer Linux&amp; Open Source&nbsp;pertama di Indonesia</td>
</tr>
<tr class="row-5 odd">
    <td class="column-1">4</td><td class="column-2">2002</td><td class="column-3">Unit LP3 yang menyelenggarakan pendidikan setara D1 dan D2 (sebelumnya bernama NCS) dengan sertifikat terakreditasi oleh BAN-PNF</td>
</tr>
<tr class="row-6 even">
    <td class="column-1">5</td><td class="column-2">2012</td><td class="column-3">Berdiri STT-NF dengan 2 Program Studi Sistem Informasi (SI) dan Teknik Informatika (TI)</td>
</tr>
<tr class="row-7 odd">
    <td class="column-1">6</td><td class="column-2">2014</td><td class="column-3">2 Program Studi STT-NF mendapatkan Akreditasi BAN-PT</td>
 </tr>
<tr class="row-8 even">
    <td class="column-1">7</td><td class="column-2">2016</td><td class="column-3">Wisuda angkatan pertama STT-NF dengan jumlah 37 Mahasiswa . Semua alumni 100 persen ditampung di bursa kerja</td>
</tr>
<tr class="row-9 odd">
    <td class="column-1">8</td><td class="column-2">2017</td><td class="column-3">Wisuda angkatan kedua STT-NF dengan jumlah 52 Mahasiswa. Semua alumni 100 persen ditampung di bursa kerja</td>
</tr>
<tr class="row-10 even">
    <td class="column-1">9</td><td class="column-2">2019</td><td class="column-3">Re-Akreditasi Program Studi Sistem Informasi "B" (Baik Sekali)</td>
</tr>
<tr class="row-11 odd">
    <td class="column-1">10</td><td class="column-2">2019</td><td class="column-3">Wisuda angkatan ketiga STT-NF dengan jumlah 59 Mahasiswa. Semua alumni 100 persen ditampung di bursa kerja</td>
</tr>
<tr class="row-12 even">
    <td class="column-1">11</td><td class="column-2">2020</td><td class="column-3">Re-Akreditasi Program Studi Teknik Informatika "B" (Baik Sekali)</td>
</tr>
</tbody>
</table>
</body>
</html>